/*=============GENERAL=============*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: hsl(170, 100%, 26%);
    --headline: hsl(210, 11%, 15%);
    --paragraph: hsla(210, 9%, 31%, 1);
    --brand-green:hsl(170, 100%, 26%);
    --brand-beige:  hsla(39, 100%, 97%, 1);
    --brand-green-hover:hsla(170, 100%, 14%, 1);

    --gray-headline:hsl(210, 11%, 15%);
    --brand-green-light:hsl(148, 23%, 89%);
    --brand-light:#DDDDDD;
    --bg-light:hsl(180, 14%, 97%);



    --nav-height:7.2rem;
    font-size: 62.5%;
}
html {
    scroll-behavior: smooth;
}
html,
body {
    width: 100%;
    height: 100%;
    
}
body {
    background-color:var(--bg-light);
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    overflow: overlay;
    
}
ul {
    list-style: none;
}
.wrapper {
    width: 37.5rem;
    margin-left: auto;
    margin-right: auto; 

}
section {
    padding: 10rem 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section header h4{
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 1.6rem;
}

section header h2{
    font-size: 3rem;
    line-height: 3.9rem;
    color:var(--gray-headline);
}

section header h1{
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;
    margin: 0rem 2.4rem 2.4rem 2.4rem;
}
section .content p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--paragraph);
}
section .button {
    background: var(--primary-color);
    border-radius: 4rem;
    border:none;
    margin-bottom: 6rem;
    padding: 1.6rem 3.2rem;
    color:white;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 3.2rem;
    text-decoration: none;
    width: fit-content;
    transition: 200ms;
}
.button:hover {
    background-color:var(--brand-green-hover);
}
section .content {
    width: 37.5rem;
}
.social-links{
    display: flex;
    gap:3.2rem;
}
/*=======HOME=============================*/

#home::before {
    content:"";
    width:100%;
    height: calc(108rem + var(--nav-height));
    background-color: var(--brand-light);
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#home {
    padding-top: calc(4.1rem + var(--nav-height));
    padding-left: 2rem;
    padding-right: 2rem;
}
#home p {
    font-size: 1.8rem;
    color:var(--paragraph);
    line-height: 150%;
    font-weight: 400;
    margin: 0rem 2.4rem 3.2rem 2.4rem;

}
#home .button {
    margin-inline: auto;
}
#stats{
    width: 32.7rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
    background-color: var(--brand-beige);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    border-color: var(--brand-green-light);
    border-radius: 0.6px;
}
.stat h3 {
    font-size: 4.8rem;
    font-weight: 700;
    color:var(--gray-headline);
    margin-bottom: 0.4rem;
}
.stat p {
   margin:0;
   font-size: 1.6rem;
   line-height: 150%;
   color: var(--brand-green);
}
/*=============NAVIGATION===========*/

nav {
    padding: 1.6rem 2.4rem;
    height: var(--nav-height);
    position: fixed;
    top:0;
    display: flex;
    z-index: 200;
    width: 100vw;
}
.logo{
    padding-right: 13rem;
}
nav.scroll {
    background-color: var(--primary-color);   
 
}
nav.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav.scroll .logo path {
    fill: white;
}
nav.scroll button path{
    stroke: white;
}
nav button {
    background: none;
    border: none;
   
}
.open-menu{
    position: relative;
}
nav .social-links{
    align-items: center;
    justify-content: center;
}
body.menu-expended {
    overflow: hidden;
}
body.menu-expended > :not(nav) {
    visibility: hidden;
}
.menu,
.close-menu,
body.menu-expended .open-menu {
    opacity: 0;
    visibility: hidden;
}
body.menu-expended .menu,
body.menu-expended .close-menu{
    opacity: 1;
    visibility: visible;
}
.menu {
    transform: translateY(100%);
}
body.menu-expended .menu {
        position: fixed;
        top:0;
        left: 0;
        background-color: var(--primary-color);
        width: 100vw;
        height: 100vh;
        padding-top: var(--nav-height);
        transition: transform 300ms;
        transform: translateY(0);
}
body.menu-expended .logo,
body.menu-expended .close-menu {
    position: relative;
    z-index: 100;
}
body.menu-expended .logo path {
    fill: white;
}
body.menu-expended button path{
    stroke: white;
}
.menu ul:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: 10rem;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}
.menu ul li a {
    color:white;
    text-decoration: none;
}
.menu .button {
    background-color: white;
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.6rem 3.2rem;
    margin-top: 4.8rem;
    margin-bottom: 8rem;
    color:var(--primary-color);
}
.close-menu {
    background:none;
    border: none;
    cursor: pointer;
}

/*===============SERVICES==================*/

#services h2 {
    margin-bottom: 6rem;
}
div.cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}
div.card {
    height: 20.7rem;
    padding: 2.4rem;
    background-color: white;
    border: 0.1rem solid var(--brand-light);
    border-radius: 0.6rem;
}
.card svg {
    display: flex;    
}
.card h3 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
    text-align: center;
    margin-top: 1.6rem;
    height: 3.1rem;
}
.card p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-top: 1.6rem;
    color: var(--gray-headline);
    height: 7.2rem;
}

/*===============ABOUT ==================*/

#about {
    text-align: left;
    background-color: var(--brand-beige);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about h2 {
    margin-bottom: 2.4rem;

}
#about .content p {
    margin-top: 2.4rem;
    margin-bottom: 6rem;
    

}
#about img {
    margin-inline: 2.4rem;
    margin-bottom: 10rem;
}
/*======================CONTACT==================*/
#contact {
    text-align: left;
    background-color: white;
}
#contact header {
    margin-bottom: 3.2rem;
}
#contact ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--paragraph);
}
#contact ul li {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
/*=====================FOOTER==================*/
footer {
    background-color:var(--primary-color);
    padding-block: 6rem;
    color: var(--brand-beige);
    text-align: left;
    
}
footer .logo {
    display: inline-block;
    margin-bottom: 2.4rem;
}
footer .logo svg {
    width: 23.6rem;
    height: 3.1rem;
}
footer .logo path {
    fill: white;
}
footer p {
    Weight: 400;
    size: 1.6rem;
    line-height: 2.083rem;
    margin-bottom: 3.2rem;
}